@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden !important;
    /* background-color: #202121 ; */
}

:root{
    --cta-colour:#73efff;
    --nav-text:#c4c4c7;
    --nav-bg:#151311;
    --section: #fafafa;
    --section-text:#787878;
    --shadow-text:#dfdfdf;

}

.scrolled{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}   

/* navbar */
.navbar{
 background-color: var(--nav-bg);
 display: flex;
 color: var(--nav-text);  
 justify-content: space-between;
 align-items: center;
 height: 80px; 
 transition: all 0.3s ease;
 
}

.logo{
    height: 50px;
    width: 50px;
    margin-left: 5em;
}

.nav-list{
    list-style: none;
    /* border: 1px solid red; */
    /* width: 50%; */
    display: flex;
    margin-right: 2em;
    align-items: center;
    font-size: 1.3em;
}

.list-inline{
    display: inline;
}

.nav-btn{
    display: none;
}

.nav-items{
    font-weight: 500;
    padding: 0 1em;
}

.nav-cta{
    background-color: var(--cta-colour) ;
    color: black;
    border-radius: 1em;
    padding: 0.3em 1em;
    cursor: pointer;
}
.nav-list hr{
    display: none;
}


@media screen and (max-width:62em) {

    .navbar{
        position: relative;
        height: 70px;
    }

    .logo{
        margin-left: 2em;
        width: 40px;
        height: 40px;
    }

    .show-nav{
        position: absolute;
        top: 100%;
        height: 100vh;
        z-index: 2;
        background-color: var(--nav-bg);
        width: 100vw;
        transition: 0.5s;
        left: 0;
        display: flex;   
        justify-content: center; 
    }
    .nav-menu{
        left:-200%;
    }
    .nav-btn{
        display: initial;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        margin: 0;
        align-items: flex-start;
        padding: 0;
        width: 80%;
        margin-top: 1em;
    }

    .nav-items{
        padding: 1em 0;
        color: white;
        font-size: 1.1em;

    }

    .nav-list hr{
        display: initial;
        width: 100%;
        margin-top: 0;
        border: none;
        height: 2px;
        background-color: var(--nav-text);
    }

    .nav-cta{
        width: 90%;
        margin-top: 3em;
        text-align: center;
        color: black;
        align-self: center;
        font-weight: bold;
        padding: 0.5em 1em;
    }

    .nav-btn{
        background-color: var(--nav-bg);
        color: white;
        display: flex;
        align-items: center;
        /* border: 2px solid red; */
        font-size: 2.5em;
        margin-right: 0.5em;
        border: none;
        cursor: pointer;
    }
    
}



header{
    width: 100vw;
    height: 100vh;
    position: relative;
}


#hero-vid{
    position: absolute;
    width: 100vw;
    object-fit: cover;
    z-index: 0;
    height: 100vh;
}

.header-text{
    position: relative;
    z-index: 1;
    height: 100vh;
    /* width: 100vw; */
    background: rgba(0, 0, 0, 0.7);
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
}

.header-content{
    color: white;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    /* width: 70%; */
    /* background-color: black; */
}

.header-text h1{
    margin-left: 2em;
    font-size: 4.7em;
    font-weight: 700;
    width: 65%;
    margin-bottom: 0;
    margin-top: 0;
}

.header-text small{
    margin-left: 5.7em;
    font-size: 26px;
}

.header-cta{
    background-color:var(--cta-colour) ;
    color: black;
    border-radius: 1em;
    width: 200px;
    padding: 0.5em 1em;
    margin-top: 1.2em;
    margin-left: 5.7em; ;
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;

}

@media screen and (max-width:43em) {
    .header-text h1{
        font-size: 2em;
        margin-left: 0;
        width: 90%;
        /* border: 1px solid red; */
    }

    .header-text small{
        margin-left: 0;
        font-size: 26px;
        width: 90%;
        /* align-self: flex-start; */
    }
    .header-content{
        /* background-color:black; */
        align-items: center;
    }
    .header-cta{
        align-self: flex-start;
        margin-left: 0.9em;
        font-size: 1.4em;
    }
    
}


@media screen and (min-width:44em) and (max-width:64em) {
    .header-text h1{
        font-size: 3.9em;
        margin-left: 0;
        width: 90%;
        /* border: 1px solid red; */
    }
    .header-content{
        /* background-color:black; */
        align-items: center;
    }
    .header-text small{
        margin-left: 0;
        font-size: 26px;
        width: 90%;
    }
    .header-cta{
        align-self: flex-start;
        margin-left: 0.9em;
    }

}



.about-section{
    background-color: var(--section);
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    /* margin-bottom: 5em; */
    

}

.about-text{
    /* border: 5px solid blue; */
    margin-top: 8em;
    text-align: center;
    z-index: 0;
    margin-bottom: 4em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-text{
    position: absolute;
    z-index: -1;
    font-size: 7em;
    font-weight: 700;
    top: -62px;
    right: 46%;
    color: #046d7a;
    opacity: 10%;

}

.about-text h1{
    margin: 0;
    font-size: 2.2em;
    /* color: white; */
}
.about-text p{
    font-size: 1.5em;
    width: 65%;
    margin-top: 1.5em;
    color: var(--section-text);
    /* color: var(--section); */
    font-weight: 300;
}
.about-text hr{
    width: 60px;
    background-color: black;
    height: 2px;
    border: none;
    margin-top: 0.8em;
}

.about-btn{
    margin-top: 1.5em;
    padding: 1.3em 2.5em;
    border: 1px solid var(--nav-text);
    background-color: var(--section);
    cursor: pointer;
    transition: 0.3s ease;
}

.about-btn:hover{
    background-color: #202121;
    color: white;
}

@media screen and (max-width:43em) {
    .about-text h1{
        font-size: 2em;
    }

    .about-text p{
        width: 90%;
        font-size: 1.1em;
    }

    .bg-text{
        font-size: 6em;
        top: -50px;
        right: 40%;
    }
    
}

@media screen and (min-width:44em) and (max-width:62em){

    .about-text p{
        width: 90%;
    }
    .bg-text{
        right: 45%;

    }
}

.service-section{
    margin-bottom: 10em;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1754%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1755)'%3e%3c/rect%3e%3cpath d='M0 0L475.11 0L0 138.57z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 138.57L475.11 0L577 0L0 220.06z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 220.06L577 0L643.52 0L0 253.74z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 253.74L643.52 0L739.15 0L0 430.04z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1311.47 560L1440 368.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 368.28999999999996L1311.47 560L776.99 560L1440 164.71999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 164.72000000000003L776.99 560L516.03 560L1440 134.08000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 134.08000000000004L516.03 560L313.64 560L1440 113.65000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1754'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1755'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(115%2c 239%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1784%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1785)'%3e%3c/rect%3e%3cpath d='M0 0L475.11 0L0 138.57z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 138.57L475.11 0L577 0L0 220.06z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 220.06L577 0L643.52 0L0 253.74z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 253.74L643.52 0L739.15 0L0 430.04z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1311.47 560L1440 368.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 368.28999999999996L1311.47 560L776.99 560L1440 164.71999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 164.72000000000003L776.99 560L516.03 560L1440 134.08000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 134.08000000000004L516.03 560L313.64 560L1440 113.65000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1784'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1785'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(115%2c 239%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2228%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2229)'%3e%3c/rect%3e%3cpath d='M0 0L475.11 0L0 138.57z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 138.57L475.11 0L577 0L0 220.06z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 220.06L577 0L643.52 0L0 253.74z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 253.74L643.52 0L739.15 0L0 430.04z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1311.47 560L1440 368.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 368.28999999999996L1311.47 560L776.99 560L1440 164.71999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 164.72000000000003L776.99 560L516.03 560L1440 134.08000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 134.08000000000004L516.03 560L313.64 560L1440 113.65000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2228'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2229'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(115%2c 239%2c 255%2c 1)' offset='0.79'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service p{
    font-size: 1.2em;
    font-weight: normal;
    color: black;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1.5px solid var(--section); */
    justify-content: center;
    width: 260px;
    height: 280px;
    margin: 1em 2em;
    padding: 1.2em;
    border-radius: 0.5em;
    background-color: var(--section);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);
}

.service-list{
    margin-bottom: 5em;
}

.service-box p{
    text-align: center;
    color: var(--section-text);
}

.service-box h3{
    margin: 0;
}
.icon{
    width: 50px;
    height: 50px;
    margin-bottom: 1.2em;
}

@media screen and (max-width: 768px) {
    .service-box{
        width: 100%;
    }
    
}


.work p{
        font-size: 1.2em;
        color: black;
        font-weight: normal;
}

.work-section{
    margin-bottom: 10em;

}

.work-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    margin-top: 2em;
    margin-bottom: 5em;
    
}

.gallery-item{
    width:400px;
    height: 250px;
    margin: 0.5em;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 50%);

}

.client-slider{
    margin-bottom: 10em;
}


.client{
    display: flex;
    flex-direction: column;
}

.clients-list{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
}

.list-wrapper{
    display: flex;
    justify-content: center;
}

.clientele{
    height: 140px;
    width: 150px;
    margin: 1em;
}

@media screen and (max-width:43em) {
    .clientele{
        height: 110px;
        width: 100px;
    }
    
}

.contact-section{
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1116%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(115%2c 239%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c372.75C78.796%2c372.556%2c164.855%2c402.264%2c231.24%2c359.816C297.643%2c317.356%2c309.503%2c227.955%2c340.065%2c155.303C369.636%2c85.007%2c422.089%2c16.249%2c407.23%2c-58.551C392.484%2c-132.782%2c305.793%2c-165.621%2c263.804%2c-228.587C213.174%2c-304.511%2c221.726%2c-432.197%2c136.431%2c-464.641C52.898%2c-496.415%2c-32.403%2c-416.787%2c-108.727%2c-370.289C-169.56%2c-333.229%2c-214.78%2c-280.232%2c-258.535%2c-224.021C-300.079%2c-170.65%2c-349.097%2c-118.5%2c-357.005%2c-51.33C-364.839%2c15.213%2c-320.543%2c73.388%2c-301.098%2c137.507C-278.004%2c213.659%2c-294.679%2c311.963%2c-231.972%2c360.956C-169.7%2c409.609%2c-79.025%2c372.945%2c0%2c372.75' fill='%230fe4ff'%3e%3c/path%3e%3cpath d='M1440 1246.152C1565.391 1283.0819999999999 1717.728 1226.008 1806.143 1129.73 1892.473 1035.722 1859.995 888.105 1883.931 762.736 1901.575 670.322 1930.876 583.838 1928.324 489.79 1925.492 385.41999999999996 1934.2269999999999 269.834 1868.357 188.827 1802.1109999999999 107.356 1682.253 106.048 1584.7 67.19600000000003 1475.163 23.572000000000003 1372.404-88.64499999999998 1259.855-53.51599999999996 1146.997-18.289999999999964 1135.51 139.76299999999998 1060.203 230.904 987.39 319.026 863.634 363.805 825.883 471.703 785.637 586.731 776.91 732.212 850.937 829.0160000000001 925.305 926.2660000000001 1090.49 877.631 1190.402 948.3820000000001 1298.284 1024.777 1313.193 1208.8049999999998 1440 1246.152' fill='%23d7faff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1116'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1784%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1785)'%3e%3c/rect%3e%3cpath d='M0 0L475.11 0L0 138.57z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 138.57L475.11 0L577 0L0 220.06z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 220.06L577 0L643.52 0L0 253.74z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 253.74L643.52 0L739.15 0L0 430.04z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1311.47 560L1440 368.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 368.28999999999996L1311.47 560L776.99 560L1440 164.71999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 164.72000000000003L776.99 560L516.03 560L1440 134.08000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 134.08000000000004L516.03 560L313.64 560L1440 113.65000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1784'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1785'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(115%2c 239%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2228%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient2229)'%3e%3c/rect%3e%3cpath d='M0 0L475.11 0L0 138.57z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 138.57L475.11 0L577 0L0 220.06z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 220.06L577 0L643.52 0L0 253.74z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 253.74L643.52 0L739.15 0L0 430.04z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L1311.47 560L1440 368.28999999999996z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 368.28999999999996L1311.47 560L776.99 560L1440 164.71999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 164.72000000000003L776.99 560L516.03 560L1440 134.08000000000004z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 134.08000000000004L516.03 560L313.64 560L1440 113.65000000000003z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2228'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2229'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(115%2c 239%2c 255%2c 1)' offset='0.79'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    margin-top: 4em;
    margin-bottom: 2em;
}

.contact p{
    color: black;
    width: 90%;
    margin-top: 0.8em;
}

.form-sec{
    background-color: #ffffff;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    width: 70%;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 50%);
    border-radius: 0.5em;
    margin-bottom: 5em;
}

.form{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.inputs{
    margin: 1em 2em;
    background-color:#f4f4f4 ;
    padding: 1em;
    border: solid #f4f4f4;
}

.subject{
    width: 100%;
}

.message{
    width: 100%;

}

.message-input{
    height: 200px;
    resize: none;
}

.email, .name{
    flex: 1;
}

.submit-btn{
    margin: 2em;
    padding: 1em;
    background-color:#222222 ;
    color: #ffffff;
    border: none;
    width: 165px;
    height: 50px ;
    cursor: pointer;
    border-radius: 1em;
    align-items: flex-start;
}

.input-label{
    display: flex;
    flex-direction: column;
}

label{
    margin:0 2em;
    margin-top: 1em;
    color: var(--section-text);
    font-size: 1.1em;
}

@media screen and (max-width:43em) {
    .form-sec{
        width: 90%;
    }
    .submit-btn{
        width: 80%;
    }
    
}


.contact-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    /* border: 2px solid black; */
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5em;
    align-items: flex-start;
}

.wrapper-text{
    width: 40%;
    /* border: 1px solid red; */
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-list{
    list-style: none;
    padding: 0;
}

.contact-list li{
display: flex;
align-items: flex-end;
font-size: 1.3em;
margin-bottom: 0.8em;
}

.contact-icons{
    margin-right: 0.8em;
    font-size: 1.5em;
}

.social-icons{
    font-size: 2em;
    margin-right: 0.5em;
}
.socials{
    display: none;
}


.wrapper-text h1{
    font-size: 55px;
    margin-right: 0;
    margin-bottom: 0.1em;
}
.wrapper-form{
    /* border: 1px solid pink; */
    width: 50%;
    /* padding: 2em 0; */
}    

.formm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputss{
    width: 70%;
    margin-bottom: 1em;
    padding: 2em 1em;
    padding-bottom: 0.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-color: black;
    background-color: transparent;
    font-size: 1em;
}

.inputss::placeholder{
    color: var(--section-text);
}

.inputss:focus{
    outline: none;
}

.msg{
    resize: none;
    height: 100px;
    border-width: 2px;
}

.msg::placeholder{
    font-size: 1.1em;
}

@media screen and (max-width:62em) {
    .contact-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .wrapper-text{
        width: 90%;
        align-items: center;
    }
    .wrapper-text h1{
        text-align: center;
    }

    .socials{
        display: none;
    }
    .wrapper-form{
        width: 90%;
    }
}

@media screen and (max-width:43em) {
    .contact-list li{
        font-size: 1em;
    }

    .contact-icons{
        font-size: 1.3em;
    }

    .wrapper-text h1{
        font-size:40px ;
    }
    
}



